{% extends 'layout.html' %}

{% block title %}
    Backtest
{% endblock %}

{% block alerts %}
    {% for error in errors %}
        <!-- https://getbootstrap.com/docs/5.3/components/alerts/ -->
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <br>
    <h2 style="text-align: center">Backtest from {{labels[0]}} to {{labels[-1]}}</h2>
    <div style="width: 30%; text-align: center; margin: 0 auto">
        <table class="table">
            <tbody>
                {% for metric in metrics %}
                    <tr>
                        <th>{{metric}}</th>
                        <td>{{metrics[metric]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div style="width: 75%; text-align: center; margin: 0 auto"> 
        <canvas id = 'BacktestChart'>
            <script>
                var ctx = document.getElementById('BacktestChart').getContext('2d');
                var lineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels | safe }},
                        datasets: [
                            {
                                label: 'Backtest',
                                data: {{ values | safe }},
                                fill: false,
                                backgroundColor: '#2d2d2d',
                                borderColor: '#d2d2d2',
                                lineTension: 0.1
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                    }
                });
            </script>
        </canvas>
    </div> 
{% endblock %}