{% extends 'layout.html' %}

{% block title %}
    Constructor
{% endblock %}

{% block tabs %}
    <ul class="nav nav-tabs nav-fill">
        {% for constructor in render_input.active_constructors.values() %}
            <li class="nav-item">
                <a {% if constructor.route == render_input.active_constructors[render_input.selected_constructor].route %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{{ constructor.route }}">{{ constructor.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block alerts %}
    {% for error in errors %}
        <!-- https://getbootstrap.com/docs/5.3/components/alerts/ -->
        <div class="alert alert-warning" role="alert">
            {{ error }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <form action="{{render_input.active_constructors[render_input.selected_constructor].route}}" method="post">
        <!-- https://getbootstrap.com/docs/5.3/components/accordion/ -->
        <div class="accordion" id="accordionConstructor">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">Select Range</button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="input-group w-50 mx-auto">
                            {% if render_input.active_inputs[render_input.selected_constructor].StartDate.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].StartDate.show_as}}</span>
                                <input type="date" aria-label="StartDate" name="StartDate" class="form-control"> 
                            {% endif %}
                            {% if render_input.active_inputs[render_input.selected_constructor].EndDate.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].EndDate.show_as}}</span>
                                <input type="date" aria-label="EndDate" name="EndDate" class="form-control"> 
                            {% endif %}
                        </div>            
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">Select Tickers</button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body text-center">
                        {% for ticker in range(render_input['portfolio_size']) %}
                            <div class="input-group mb-3 w-75 mx-auto">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" name="AddTicker{{loop.index}}" aria-label="Checkbox for following text input" {% if loop.index <= render_input["portfolio_checked"] %}checked{% endif %}>
                                </div>    
                                {% if render_input.active_inputs[render_input.selected_constructor].Ticker.show == True %}
                                    <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].Ticker.show_as}} {{loop.index}}</span>
                                    <input type="text" aria-label="Ticker" placeholder="AAPL" name="Ticker{{loop.index}}" class="form-control">
                                {% endif %}
                                {% if render_input.active_inputs[render_input.selected_constructor].Weight.show == True %}
                                    <span class="input-group-text"> {{render_input.active_inputs[render_input.selected_constructor].Weight.show_as}} {{loop.index}}</span>
                                    <input type="number" aria-label="Weight" step="0.01" min="0" placeholder="0.10" class="form-control" name="Weight{{loop.index}}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">Extra Settings</button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <!-- https://getbootstrap.com/docs/5.3/forms/checks-radios/ -->
                        <div class="input-group w-75 mx-auto"> 
                            {% if render_input.active_inputs[render_input.selected_constructor].VolLookbackWindow.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].VolLookbackWindow.show_as}}</span>
                                <input type="number" aria-label="Volatility Lookback Window (Days)" name="VolLookbackWindow" class="form-control" step="1" min="1" placeholder="20"> 
                            {% endif %}
                            {% if render_input.active_inputs[render_input.selected_constructor].VolLookbackOffset.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].VolLookbackOffset.show_as}}</span>
                                <input type="number" aria-label="Volatility Lookback Offset (Days)" name="VolLookbackOffset" class="form-control" step="1" min="1" placeholder="1">
                            {% endif %}
                            <!-- https://getbootstrap.com/docs/5.3/forms/select/  -->
                            {% if render_input.active_inputs[render_input.selected_constructor].RebalFreq.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].RebalFreq.show_as}}</span>
                                <select class="form-select" aria-label="Rebalancing Frequency" name="RebalFreq">
                                    <option value="B" selected>Daily</option>
                                    <option value="Q">Quarterly</option>
                                    <option value="M">Monthly</option>
                                    <option value="W">Weekly</option>
                                </select>
                            {% endif %}
                            {% if render_input.active_inputs[render_input.selected_constructor].IgnoreMissing.show == True %}
                                <span class="input-group-text">{{render_input.active_inputs[render_input.selected_constructor].IgnoreMissing.show_as}}</span>
                                <select class="form-select" aria-label="Ignore Missing" name="IgnoreMissing">
                                    <option value="False" selected>No</option>
                                    <option value="True">Yes</option>
                                </select>
                            {% endif %}
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid text-center">        
            <button class="btn btn-primary" type="submit">Run Backtest</button>
        </div>
    </form>
{% endblock %}